@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --glass-bg-l: 60%;
  --glass-bg-c: 40;
  --glass-bg-h: 200;
  --glass-bg-a: 0.1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .glass-effect,
  .glass-effect-inset {
    --glass-bg: lch(
      var(--glass-bg-l) var(--glass-bg-c) var(--glass-bg-h) / var(--glass-bg-a)
    );
    background-image: linear-gradient(
      140deg,
      var(--glass-bg) 28.7%,
      color-mix(in lch, var(--glass-bg) 30%, transparent)
    );
    backdrop-filter: blur(8px);
  }

  .glass-effect {
    box-shadow:
      rgba(255, 255, 255, 0.2) 0.5px 0.5px 0.5px 0px inset,
      rgba(255, 255, 255, 0.05) -0.5px -0.5px 0.5px 0px inset,
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  .glass-effect-inset {
    box-shadow:
      rgba(255, 255, 255, 0.2) -0.5px -0.5px 0.5px 0px inset,
      rgba(0, 0, 0, 0.05) 1px 1px 1px 0px inset;
  }

  .glass-effect.hoverable,
  .glass-effect-inset.hoverable {
    &:hover {
      --glass-bg: lch(
        var(--glass-bg-l) var(--glass-bg-c) var(--glass-bg-h) /
          calc(var(--glass-bg-a) + 0.05)
      );
    }
  }
}
